body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.container p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #777;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.delete-btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}

.text-center {
    text-align: center;
}

form {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.carousel {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    text-align: center;
}

.carousel-item {
    display: flex;
    align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #fff;
    background-color: gray;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #0056b3; /* Zmiana koloru tła po najechaniu */
}
