{% extends "top_header.html" %}
{%  block content %}
    
    <div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">{{ boardgame.name }}</h2>
            
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center col-3">Players</th>
                            <th class="text-center col-3">Game Time</th>
                            <th class="text-center col-3">Age</th>
                            <th class="text-center col-3">Rating</th>
                        </tr>
                        <tr>
                            <th class="text-center">{{ boardgame.min_players }} - {{ boardgame.max_players }}</th>
                            {% if boardgame.max_game_time %}
                                <th class="text-center">{{ boardgame.min_game_time }} - {{ boardgame.max_game_time }}</th>
                            {% else %}
                                <th class="text-center">{{ boardgame.min_game_time }}+</th>
                            {% endif %}
                            <th class="text-center">{{ boardgame.min_players_age }}+</th>
                            <th class="text-center">{{ boardgame.avg_rating }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Możesz dodać więcej wierszy lub informacji -->
                    </tbody>
                </table>
            </div>
            <h5>Description</h5>
            <p class="card-text">{{ boardgame.description }}</p>
            <div class="mt-4">
                <div>
                    <h5>Categories</h5>
                    <p class="card-text"> 
                        {% for category in boardgame.categories.all %}
                            {{ category }} {% if not forloop.last %}, {% endif %} 
                        {% endfor %}
                    </p>
                </div>
                <div>
                    <h5>Publisher</h5>
                    <p class="card-text">{{ boardgame.publisher }}</p>
                </div>
                <div>
                    <h5>Price</h5>
                    <p class="card-text">{{ boardgame.price }}</p>
                </div>
                <br>
                <div class="d-flex justify-content-between">
                        <a href="{% url 'reviews_list' boardgame.pk %}" class="btn btn-primary mr-1">All Reviews</a>
                    {% if not is_reviewed %}
                        <a href="{% url 'review_add' boardgame.pk %}" class="btn btn-primary">Add Review</a>
                    {% else %}
                        <div>
                            <a href="{% url 'review_detail' review.pk %}" class="btn btn-secondary">Your Review</a>
                        </div>
                    {% endif %}
                    <a href="{% url 'add_boardgame_to_cart' boardgame.pk %}" class="btn btn-success ml-auto">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <br>
{%  endblock %}


